
.vs/ExtensionMethods/v15/.suo
.vs/ExtensionMethods/v15/Server/sqlite3/db.lock
.vs/ExtensionMethods/v15/Server/sqlite3/storage.ide
.vs/ExtensionMethods/v15/Server/sqlite3/storage.ide-shm
.vs/ExtensionMethods/v15/Server/sqlite3/storage.ide-wal
ExtensionMethods/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ExtensionMethods/obj/Debug/ExtensionMethods.csproj.FileListAbsolute.txt
ExtensionMethods/obj/Debug/ExtensionMethods.csprojResolveAssemblyReference.cache
ExtensionMethods/obj/Debug/ExtensionMethods.exe
ExtensionMethods/obj/Debug/ExtensionMethods.pdb
ExtensionMethods/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ExtensionMethods/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ExtensionMethods/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ExtensionMethods/bin/Debug/ExtensionMethods.exe
ExtensionMethods/bin/Debug/ExtensionMethods.exe.config
ExtensionMethods/bin/Debug/ExtensionMethods.pdb
